<footer class="pb-4 bg-primary-dark text-light" id="footer">
  <div class="container">
    <div class="row mb-5">
      <div class="col">
        <div class="card card-body border-0 o-hidden mb-0 bg-primary text-light">
          <div class="position-relative d-flex flex-column flex-md-row justify-content-between align-items-center">
            <div class="h3 text-center mb-md-0">Vuoi collaborare con noi?</div>
            <a href="#" class="btn btn-lg btn-white"> Contattaci </a>
          </div>
          <div class="decoration layer-0">
            <img class="bg-primary-2" src="{{ '/assets/img/decorations/deco-blob-1.svg' | relative_url }}" alt="deco-blob-1 decoration" data-inject-svg />
          </div>
        </div>

      </div>
    </div>
    <div class="row mb-5">
      <div class="col-6 col-lg-3 col-xl-2">
        <h5>Naviga</h5>
        <ul class="nav flex-column">
          {% for item in site.navigation %}
          <li class="nav-item">
            <a href="{{ item.link | relative_url }}" class="nav-link">{{ item.name }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-6 col-lg">
        <h5>Contact</h5>
        <ul class="list-unstyled">
          <li class="mb-3 d-flex">
            <img class="icon" src="{{ '/assets/img/icons/theme/map/marker-1.svg' | relative_url }}" alt="marker-1 icon" data-inject-svg />
            <div class="ml-3">
              <span>348 Greenpoint Avenue
                <br />Brooklyn, NY</span>
            </div>
          </li>
          <li class="mb-3 d-flex">
            <img class="icon" src="{{ '/assets/img/icons/theme/communication/call-1.svg' | relative_url }}" alt="call-1 icon" data-inject-svg />
            <div class="ml-3">
              <span>+61 3928 3324</span>
              <span class="d-block text-muted text-small">Mon - Fri 9am - 5pm</span>
            </div>
          </li>
          <li class="mb-3 d-flex">
            <img class="icon" src="{{ '/assets/img/icons/theme/communication/mail.svg' | relative_url }}" alt="mail icon" data-inject-svg />
            <div class="ml-3">
              <a href="#">hello@company.io</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-5 col-xl-4 mt-3 mt-lg-0">
        <h5>Subscribe</h5>
        <p>The latest Leap news, articles, and resources, sent straight to your inbox every month.</p>
        <form action="/forms/mailchimp.php" data-form-email novalidate>
          <div class="form-row">
            <div class="col-12">
              <input type="email" class="form-control mb-2" placeholder="Email Address" name="email" required>
            </div>
            <div class="col-12">
              <div class="d-none alert alert-success" role="alert" data-success-message>
                Thanks, a member of our team will be in touch shortly.
              </div>
              <div class="d-none alert alert-danger" role="alert" data-error-message>
                Please fill all fields correctly.
              </div>
              <div data-recaptcha data-sitekey="6Leu1qIaAAAAAAHVkFU6GyrMau8yW9sVeohNEknc" data-size="invisible" data-badge="bottomleft">
              </div>
              <button type="submit" class="btn btn-primary btn-loading btn-block" data-loading-text="Sending">
                <img class="icon" src="{{ '/assets/img/icons/theme/code/loading.svg' | relative_url }}" alt="loading icon" data-inject-svg />
                <span>Subscribe</span>
              </button>
            </div>
          </div>
        </form>
        <small class="text-muted form-text">We’ll never share your details. See our <a href="#">Privacy Policy</a>
        </small>

      </div>
    </div>
    <div class="row justify-content-center mb-2">
      <div class="col-auto">
        <ul class="nav">
          <li class="nav-item">
            <a href="#" class="nav-link">
              <img class="icon " src="{{ '/assets/img/icons/social/instagram.svg' | relative_url }}" alt="instagram social icon" data-inject-svg />
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <img class="icon " src="{{ '/assets/img/icons/social/twitter.svg' | relative_url }}" alt="twitter social icon" data-inject-svg />
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <img class="icon " src="{{ '/assets/img/icons/social/youtube.svg' | relative_url }}" alt="youtube social icon" data-inject-svg />
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <img class="icon " src="{{ '/assets/img/icons/social/medium.svg' | relative_url }}" alt="medium social icon" data-inject-svg />
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <img class="icon " src="{{ '/assets/img/icons/social/facebook.svg' | relative_url }}" alt="facebook social icon" data-inject-svg />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col col-md-auto text-center">
        <small class="text-muted">&copy;2020 This page is protected by reCAPTCHA and is subject to the Google <a href="https://www.google.com/policies/privacy/">Privacy Policy</a> and <a href="https://policies.google.com/terms">Terms of Service.</a>
        </small>
      </div>
    </div>
  </div>
</footer>
<a href="#" class="btn back-to-top btn-primary btn-round" data-smooth-scroll data-aos="fade-up" data-aos-offset="2000" data-aos-mirror="true" data-aos-once="false">
  <img class="icon" src="{{ '/assets/img/icons/theme/navigation/arrow-up.svg' | relative_url }}" alt="arrow-up icon" data-inject-svg />
</a>
<!-- Required vendor scripts (Do not remove) -->
<script type="text/javascript" src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ '/assets/js/popper.min.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ '/assets/js/bootstrap.js' | relative_url }}"></script>

<!-- Optional Vendor Scripts (Remove the plugin script here and comment initializer script out of index.js if site does not use that feature) -->

<!-- AOS (Animate On Scroll - animates elements into view while scrolling down) -->
<script type="text/javascript" src="{{ '/assets/js/aos.js' | relative_url }}"></script>
<!-- Clipboard (copies content from browser into OS clipboard) -->
<script type="text/javascript" src="{{ '/assets/js/clipboard.min.js' | relative_url }}"></script>
<!-- Fancybox (handles image and video lightbox and galleries) -->
<script type="text/javascript" src="{{ '/assets/js/jquery.fancybox.min.js' | relative_url }}"></script>
<!-- Flatpickr (calendar/date/time picker UI) -->
<script type="text/javascript" src="{{ '/assets/js/flatpickr.min.js' | relative_url }}"></script>
<!-- Flickity (handles touch enabled carousels and sliders) -->
<script type="text/javascript" src="{{ '/assets/js/flickity.pkgd.min.js' | relative_url }}"></script>
<!-- Ion rangeSlider (flexible and pretty range slider elements) -->
<script type="text/javascript" src="{{ '/assets/js/ion.rangeSlider.min.js' | relative_url }}"></script>
<!-- Isotope (masonry layouts and filtering) -->
<script type="text/javascript" src="{{ '/assets/js/isotope.pkgd.min.js' | relative_url }}"></script>
<!-- jarallax (parallax effect and video backgrounds) -->
<script type="text/javascript" src="{{ '/assets/js/jarallax.min.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ '/assets/js/jarallax-video.min.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ '/assets/js/jarallax-element.min.js' | relative_url }}"></script>
<!-- jQuery Countdown (displays countdown text to a specified date) -->
<script type="text/javascript" src="{{ '/assets/js/jquery.countdown.min.js' | relative_url }}"></script>
<!-- jQuery smartWizard facilitates steppable wizard content -->
<script type="text/javascript" src="{{ '/assets/js/jquery.smartWizard.min.js' | relative_url }}"></script>
<!-- Plyr (unified player for Video, Audio, Vimeo and Youtube) -->
<script type="text/javascript" src="{{ '/assets/js/plyr.polyfilled.min.js' | relative_url }}"></script>
<!-- Prism (displays formatted code boxes) -->
<script type="text/javascript" src="{{ '/assets/js/prism.js' | relative_url }}"></script>
<!-- ScrollMonitor (manages events for elements scrolling in and out of view) -->
<script type="text/javascript" src="{{ '/assets/js/scrollMonitor.js' | relative_url }}"></script>
<!-- Smooth scroll (animation to links in-page)-->
<script type="text/javascript" src="{{ '/assets/js/smooth-scroll.polyfills.min.js' | relative_url }}"></script>
<!-- SVGInjector (replaces img tags with SVG code to allow easy inclusion of SVGs with the benefit of inheriting colors and styles)-->
<script type="text/javascript" src="{{ '/assets/js/svg-injector.umd.production.js' | relative_url }}"></script>
<!-- TwitterFetcher (displays a feed of tweets from a specified account)-->
<script type="text/javascript" src="{{ '/assets/js/twitterFetcher_min.js' | relative_url }}"></script>
<!-- Typed text (animated typing effect)-->
<script type="text/javascript" src="{{ '/assets/js/typed.min.js' | relative_url }}"></script>
<!-- Required theme scripts (Do not remove) -->
<script type="text/javascript" src="{{ '/assets/js/theme.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ '/assets/js/paroparo.js' | relative_url }}"></script>
<!-- Removes page load animation when window is finished loading -->
<script type="text/javascript">
  window.addEventListener("load", function () {    document.querySelector('body').classList.add('loaded');  });
</script>