<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'/>
  <title>{{site.title}}{% if trail.title != nil  %} | {{trail.title}}{% endif %}</title>
  <meta name="application-name" content="{{site.title}}">
  <meta name="description" content="{{site.description}}">  
  <meta name="theme-color" content="{{site.colors[0].primary}}">
  <meta name="theme-color" media="(prefers-color-scheme: dark)" content="{{site.colors[4].primary-dark}}">
  <meta name="color-scheme" content="light dark">
  <link rel="manifest" href="{{ '/assets/img/favicons/manifest.json' | relative_url }}">

  <link rel="shortcut icon" href="{{ '/assets/img/favicons/favicon.ico' | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/img/favicons/favicon-16x16.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/img/favicons/favicon-32x32.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="48x48" href="{{ '/assets/img/favicons/favicon-48x48.png' | relative_url }}">
  <link rel="apple-touch-icon" sizes="57x57" href="{{ '/assets/img/favicons/apple-touch-icon-57x57.png' | relative_url }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ '/assets/img/favicons/apple-touch-icon-60x60.png' | relative_url }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ '/assets/img/favicons/apple-touch-icon-72x72.png' | relative_url }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ '/assets/img/favicons/apple-touch-icon-76x76.png' | relative_url }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ '/assets/img/favicons/apple-touch-icon-114x114.png' | relative_url }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ '/assets/img/favicons/apple-touch-icon-120x120.png' | relative_url }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ '/assets/img/favicons/apple-touch-icon-144x144.png' | relative_url }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ '/assets/img/favicons/apple-touch-icon-152x152.png' | relative_url }}">
  <link rel="apple-touch-icon" sizes="167x167" href="{{ '/assets/img/favicons/apple-touch-icon-167x167.png' | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/img/favicons/apple-touch-icon-180x180.png' | relative_url }}">
  <link rel="apple-touch-icon" sizes="1024x1024" href="{{ '/assets/img/favicons/apple-touch-icon-1024x1024.png' | relative_url }}">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="apple-mobile-web-app-title" content="{{site.title}}">
 
  <!-- Loader CSS -->
  <style>{% include loader/loader.min.css %}</style>

  <!-- Fonts -->
  <link rel="stylesheet" media="print" onload="this.media='all'" href="https://cdnjs.cloudflare.com/ajax/libs/inter-ui/3.19.3/inter.min.css">

  <!-- CSS -->
  <link id="css-light" rel="stylesheet" href="{{ '/assets/css/paroparo.min.css' | relative_url }}" type="text/css">
  <link id="css-dark"  rel="stylesheet" media="print" onload="this.media='(prefers-color-scheme: dark)'" href="{{ '/assets/css/paroparo-dark.min.css' | relative_url }}" type="text/css">
  
  {% seo %}
</head>