<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'/>
  <title>{{site.title}}{% if trail.title != nil  %} | {{trail.title}}{% endif %}</title>
  <meta name="description" content="{{site.description}}">
  <meta name="application-name" content="{{site.title}}">
  
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/img/favicon.ico' | relative_url }}">
  <link rel="icon" type="image/png" href="{{'/assets/img/favicon.ico' | relative_url }}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <!--<link rel="manifest" href="{{ '/assets/img/icons/manifest.json?v=qA3OXqyw77' | relative_url }}">-->
  <!--<link rel="mask-icon" href="{{ '/assets/img/icons/safari-pinned-tab.svg?v=qA3OXqyw77' | relative_url }}" color="#5bbad5">-->
  <!--[if IE]><link rel="shortcut icon" href="/assets/img/icons/favicon.ico?v=qA3OXqyw77"><![endif]-->
  <!--<link rel="shortcut icon" href="{{ '/assets/img/icons/favicon.ico?v=qA3OXqyw77' | relative_url }}">-->
  <!--<meta name="msapplication-config" content="{{ '/assets/img/icons/browserconfig.xml?v=qA3OXqyw77' | relative_url }}">-->
  <meta name="apple-mobile-web-app-title" content="{{site.title}}">
  <meta name="application-name" content="{{site.title}}">
  <meta name="theme-color" content="{{site.colors[0].primary}}">
  <meta name="theme-color" media="(prefers-color-scheme: dark)" content="{{site.colors[4].primary-dark}}">
  <meta name="color-scheme" content="light dark">

  <!-- Loader CSS -->
  <style>{% include loader/loader.min.css %}</style>

  <!-- Fonts -->
  <link rel="stylesheet" media="print" onload="this.media='all'" href="https://cdnjs.cloudflare.com/ajax/libs/inter-ui/3.19.3/inter.min.css">

  <!-- CSS -->
  <link id="css-light" rel="stylesheet" href="{{ '/assets/css/paroparo.min.css' | relative_url }}" type="text/css">
  <link id="css-dark"  rel="stylesheet" rel="stylesheet" media="print" onload="this.media='(prefers-color-scheme: dark)'" href="{{ '/assets/css/paroparo-dark.min.css' | relative_url }}" type="text/css">
  {% seo %}
</head>