{% include loader/loader.html %}

<div class="navbar-container">
  <nav class="navbar navbar-expand-lg navbar-dark" data-overlay data-sticky="top">
    <div class="container">
      <a class="navbar-brand fade-page" href="{{ '/' | relative_url }}">
        <!-- <img src="{{ '/assets/img/logo-white.svg' | relative_url }}" alt="ParoParo"> -->
        {{site.title}}
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="m-0 mdi iconify navbar-toggler-open" data-icon="mdi-menu" alt="menu interface icon"></span>
        <span class="m-0 mdi iconify navbar-toggler-close" data-icon="mdi-menu" alt="cross interface icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-between">
        <div class="py-lg-0">
          <ul class="navbar-nav">
              {% for item in site.navigation %}
              <li class="nav-item dropdown">
                <a href="{{ item.link | relative_url }}" class="nav-link" aria-expanded="false" aria-haspopup="true">{{ item.name }}</a>
              </li>
              {% endfor %}
          </ul>
        </div>
        <form class="form-inline my-2 my-lg-0">
          <div id="css-toggle" class="custom-control custom-switch" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">                  
            <input type="checkbox" class="custom-control-input" id="css-toggle-btn">
            <label class="custom-control-label" for="css-toggle-btn"></label>
          </div>
        </form>
        
      </div>


    </div>
  </nav>
</div>