<!-- Critical scripts -->
<script type="text/javascript" src="{{ '/assets/js/paroparo-critical.min.js' | relative_url }}"></script>

<!-- Optional and Paroparo scripts  -->
<script>var site; $.getJSON("{{'/assets/json/site.json' | relative_url }}", function(data){site = data;});</script>
<script type="text/javascript" src="{{ '/assets/js/paroparo.min.js' | relative_url }}"></script>

<!-- Removes page load animation when window is finished loading -->
<script type="text/javascript">
  window.addEventListener("load", function () {    document.querySelector('body').classList.add('loaded');  });
</script>