<div class="col-md-4 square">
        <div class="card shadow border-light">
            <figure class="">
                 <img
                        src="{{ site.url }}{{ site.baseurl }}/assets/img/posts/{{post.featured-img}}_placehold.jpg"
                        data-srcset="{{ site.url }}{{ site.baseurl }}/assets/img/posts/{{post.featured-img}}_thumb.jpg, {{ site.url }}{{ site.baseurl }}/assets/img/posts/{{post.featured-img}}_thumb@2x.jpg 2x"
                        class=""
                        data-holder-rendered="true"
                        alt="{{post.title}}"
                        style="display: block;"
                />
                <noscript><img src="{{ site.url }}{{ site.baseurl }}/assets/img/posts/{{post.featured-img}}_thumb.jpg" alt="{{ post.title }}"></noscript>
            </figure>
        </div>
    </div>
    