.jumbotron-lg {
    padding: 15rem 1rem
}

.overlay-gray {
	&:before {
        background: -moz-linear-gradient(0deg, rgba(#fff, 0.2) 50%, rgba($gray-600,0.7) 100%);
        background: -webkit-linear-gradient(0deg, rgba(#fff, 0.2) 50%, rgba($gray-600, 0.7) 100%);
        background: linear-gradient(0deg, rgba(#fff, 0.2) 50%, rgba($gray-600, 0.7) 100%);
	}
}

.overlay-paroparo {
	&:before {
        background: -moz-linear-gradient(0deg, rgba(#fff, 0.2) 50%, rgba($paroparo-dark, 0.7) 100%);
        background: -webkit-linear-gradient(0deg, rgba(#fff, 0.2) 50%, rgba($paroparo-dark, 0.7) 100%);
        background: linear-gradient(0deg, rgba(#fff, 0.2) 50%, rgba($paroparo-dark, 0.7) 100%);
	}
}

.navbar {
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;

    &.scrolled {
        padding: 0.2rem 1rem;
    }
}