<div>
    <div class="title-present">
        <h1 class="display-4">Complimenti hai vinto!<br>🎉</h1>
        <p><small>"Bucio de culo!"</small></p>
    </div>
    <div class="canvas-present">
        <div class="box"></div>
        <div class="present">
            <div class="cover"></div>
            <div class="bow"></div>
            <div class="animal">
                <img src="{{ '/assets/img/nonna_pappagallo.webp' | relative_url }}" alt="nonna pappagallo">
            </div>
        </div>
    </div>
</div>