---
layout: blank
---

<section class="min-vh-100 bg-primary text-light py-5 o-hidden has-divider jarallax" data-jarallax data-speed="0.5">
    <img src="{{ '/assets/img/sfondo.jpg' | relative_url }}" alt="" class="jarallax-img opacity-80">
    <div class="container position-relative layer-2">
      <div class="row justify-content-center mb-md-6">
        <div class="col-auto">
            <h1>{{site.title}}</h1>
        </div>
      </div>
      <div class="row text-center py-6">
        <div class="col layer-2">
          <h1 class="display-1 mb-0">404</h1>
          <h2 class="h1">Pagina non trovata</h2>
          <div class="lead mb-4">La pagina che stavi cercando non può essere trovata dai nostri pappagalli</div>
          <a class="btn btn-primary-2 btn-lg" href="{{'/' | relative_url}}">Torna a casina</a>
        </div>
      </div>
    <div class="decoration-wrapper d-none d-md-block">
      <div class="decoration right middle-y scale-2 opacity-80" data-jarallax-element="200">
        <img class="bg-primary-3" src="assets/img/decorations/deco-blob-3.svg" alt="deco-blob-3 decoration" data-inject-svg />
      </div>
      <div class="decoration right middle-y scale-2 opacity-80" data-jarallax-element="100">
        <img class="bg-white" src="assets/img/decorations/deco-dots-3.svg" alt="deco-dots-3 decoration" data-inject-svg />
      </div>
      <div class="decoration top left scale-3 opacity-80" data-jarallax-element="50">
        <img class="bg-white" src="assets/img/decorations/deco-blob-9.svg" alt="deco-blob-9 decoration" data-inject-svg />
      </div>
      <div class="decoration top left scale-2 scale-3 opacity-80" data-jarallax-element="150 50">
        <img class="bg-primary-2" src="assets/img/decorations/deco-dots-2.svg" alt="deco-dots-2 decoration" data-inject-svg />
      </div>
    </div>
  </section>