---
layout: default
---

<section class="about">
        <div class="row">
            <div class="col-sm-6 box-shadow">
                <div class="card b-4 h-100 shadow border-light">
                    <div class="card-body">
                        <span class="mdi mdi-data-matrix"></span>
                        <span class="mdi mdi-grass"></span>
                        <h5 class="card-title">Cosimo Casini</h5>
                        <p class="card-text">bella ragaaaaa</p>
                        <a href="#" class="btn btn-primary btn-sm">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 box-shadow">
                    <div class="card b-4 h-100 shadow border-light">
                        <div class="card-body">
                            <span class="mdi mdi-data-matrix"></span>
                            <span class="mdi mdi-grass"></span>
                            <h5 class="card-title">Niccolò Casini</h5>
                            <p class="card-text">bella ragaaaaa</p>
                            <a href="#" class="btn btn-primary btn-sm">Read More</a>
                        </div>
                    </div>
                </div>
        </div>
</section>

