---
layout: default
---

<section class="about">
    <div class="container my-5">
            <div class="row">
                <div class="col-sm-6 mb-4 box-shadow">
                    <div class="card b-4 h-100 shadow border-light">
                        <div class="card-body">
                            <h5 class="card-title">Cosimo Casini</h5>
                            <p class="card-text">bella ragaaaaa</p>
                            <hr>
                            <p class="card-text">bella ragaaaaa</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mb-4 box-shadow">
                        <div class="card b-4 h-100 shadow border-light">
                            <div class="card-body">
                                <h5 class="card-title">Niccolò Casini</h5>
                                <p class="card-text">bella ragaaaaa</p>
                                <hr>
                                <p class="card-text">bella ragaaaaa</p>
                            </div>
                        </div>
                    </div>
            </div>
    </div>
</section>
