---
layout: default
---

<section class="bg-dark text-light overlay has-divider" data-jarallax data-speed="0.5" data-overlay>
  <img src="{{ site.url }}{{ site.baseurl }}/assets/img/posts/{{page.featured-img}}.jpg" alt="Image"
    class="bg-image opacity-50">
  <div class="container pt-6">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-xl-8">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <span class="badge bg-primary-alt text-primary">
            <img class="icon bg-primary" src="{{ '/assets/img/icons/interface/heart.svg' | relative_url }}"
              alt="heart interface icon" data-inject-svg />21</span>
        </div>
        <h1>{{page.title}}</h1>
        <div class="d-flex align-items-center">
          <a href="#">
            <img src="{{ '/assets/img/avatars/male-1.jpg' | relative_url }}" alt="Avatar" class="avatar mr-2">
          </a>
          <div>
            <div>by <a href="#">Benjamin Cameron</a>
            </div>
            <div class="text-small text-muted">{{ page.date | date_to_string }}</div>
            <span>
              {% assign words = content | number_of_words %}
                {% if words < 360 %}
                  1 min
                {% else %}
                  {{ words | divided_by:180 }} mins
              {% endif %} read
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="divider">
    <img src="{{ '/assets/img/dividers/divider-2.svg' | relative_url }}"  alt="graphical divider" data-inject-svg />
</div>
</section>

<section data-reading-position>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <article class="article">
          {{ content }}
        </article>
      </div>
    </div>
  </div>
</section>