---
layout: default
---

<section class="bg-dark text-light overlay" data-jarallax data-speed="0.5">
      <img src="{{ '/assets/img/article-10.jpg' | relative_url }}" alt="Image" class="bg-image opacity-50">
      <div class="container pt-6">
        <div class="row justify-content-center">
          <div class="col-lg-10 col-xl-8">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="#">Blog</a>
                  </li>
                  <li class="breadcrumb-item">
                    <a href="#">Category</a>
                  </li>
                </ol>
              </nav>
              <span class="badge bg-primary-alt text-primary">
                <img class="icon bg-primary" src="{{ '/assets/img/icons/interface/heart.svg' | relative_url }}" alt="heart interface icon" data-inject-svg />21</span>
            </div>
            <h1>Navigating the complexity of change aversion</h1>
            <div class="d-flex align-items-center">
              <a href="#">
                <img src="{{ '/assets/img/avatars/male-1.jpg' | relative_url }}" alt="Avatar" class="avatar mr-2">
              </a>
              <div>
                <div>by <a href="#">Benjamin Cameron</a>
                </div>
                <div class="text-small text-muted">30th October</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="p-0" data-reading-position>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-10">
              <article class="article">
                <p class="lead">
                  Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                </p>
                <p>
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                  sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                </p>
                <p>
                  Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem
                  ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                </p>
                <h4>A heading to shift focus</h4>
                <p>
                  At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia
                  animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas
                  assumenda est, omnis dolor repellendus.
                </p>
                <figure>
                  <img src="{{ '/assets/img/article-9.jpg' | relative_url }}" alt="Image" class="rounded">
                  <figcaption>A caption to describe the image</figcaption>
                </figure>
                <p>
                  Aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                </p>
                <blockquote class="bg-primary-alt">
      <div class="h3 mb-2">“We couldn’t have done it without the hard-working team from Leap.”</div>
      <span class="text-small text-muted">– Harvey Dent (via Tareq I.)</span>
      <a href="#" class="btn btn-primary btn-sm">
        <img class="icon" src="{{ '/assets/img/icons/social/twitter.svg' | relative_url }}" alt="twitter social icon" data-inject-svg />
        <span>Tweet</span>
      </a>
    </blockquote>
                <p>
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                  sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                </p>
                <h5>A minor heading to summarise</h5>
                <p>Sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
                <ul>
                  <li>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam</li>
                  <li>Corporis suscipit laboriosam</li>
                  <li>Aspernatur aut odit aut fugit eos qui ratione</li>
                  <li>Et quasi</li>
                </ul>
              </article>
            </div>
          </div>
        </div>
      </section>