---
layout: blank
---

<section class="bg-primary min-vh-100 py-5 o-hidden has-divider jarallax" data-jarallax data-speed="0.5">
  <img src="{{ '/_assets/img/sfondo.jpg' | relative_url }}" alt="" class="jarallax-img opacity-80">
  <div class="container position-relative layer-2">
    <div class="row justify-content-center mb-md-2 text-light">
      <div class="col-auto">
       <h1>{{site.title}}</h1>
      </div>
    </div>
    <div class="row justify-content-center py-6 text-light">
      <div class="col text-center">
        <h1 class="display-4">Launching Soon</h1>
        <div class="lead">Hold tight, we're still preparing for our product launch. Stay tuned.</div>
      </div>
    </div>
    <div class="row">
      <div class="col-12" data-countdown-date="2021/04/30" data-detailed>
        <div data-active class="row text-center">
          <div class="col-md">
            <div class="card card-body shadow-3d" data-aos="fade-up" data-aos-delay="100">
              <span class="h1 text-primary mb-2" data-weeks data-format="%w"></span>
              <span class="h6 mb-0" data-weeks-label data-format="%!w:Settimana,Settimane;"></span>
            </div>
          </div>

          <div class="col-md">
            <div class="card card-body shadow-3d" data-aos="fade-up" data-aos-delay="200">
              <span class="h1 text-primary mb-2" data-days data-format="%d"></span>
              <span class="h6 mb-0" data-days-label data-format="%!d:Giorno,Giorni;"></span>
            </div>
          </div>

          <div class="col-md">
            <div class="card card-body shadow-3d" data-aos="fade-up" data-aos-delay="300">
              <span class="h1 text-primary mb-2" data-hours></span>
              <span class="h6 mb-0" data-hours-label data-format="%!H:Ora,Ore;"></span>
            </div>
          </div>

          <div class="col-md">
            <div class="card card-body shadow-3d" data-aos="fade-up" data-aos-delay="400">
              <span class="h1 text-primary mb-2" data-minutes></span>
              <span class="h6 mb-0" data-minutes-label data-format="%!M:Minuto,Minuti;"></span>
            </div>
          </div>

          <div class="col-md">
            <div class="card card-body shadow-3d" data-aos="fade-up" data-aos-delay="500">
              <span class="h1 text-primary mb-2" data-seconds></span>
              <span class="h6 mb-0" data-seconds-label data-format="%!S:Secondo,Secondi;"></span>
            </div>
          </div>
        </div>
        <div data-elapsed style="display: none;">
          <h4>Se vedi questo messaggio vuol dire che siamo andati live ma i pappagalli sono a fare un pisolino</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="decoration-wrapper d-none d-md-block">
    <div class="decoration bottom middle-y scale-5 opacity-80">
      <img class="bg-primary-3" src="_assets/img/decorations/deco-blob-9.svg" alt="deco-blob-9 decoration" data-inject-svg />
    </div>
    <div class="decoration bottom right scale-5 opacity-80">
      <img class="bg-primary-2" src="_assets/img/decorations/deco-dots-4.svg" alt="deco-dots-4 decoration" data-inject-svg />
    </div>
  </div>
</section>

    