---
layout: default
---

  <section class="has-divider text-light jarallax bg-dark text-md-left text-center" data-jarallax data-speed="0.5" data-overlay data-img-position="30% 60%">
    <img src="{{ '/assets/img/sfondo_macaw.webp' | relative_url }}" alt="" class="jarallax-img opacity-50">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-md-8">
                <h1 class="display-4">Contatti</h1>
                <p class="lead mb-0">Alza la cornetta, Paroparo ti aspetta</p>
            </div>
        </div>
    </div>
    <div class="divider">
        <img src="{{ '/assets/img/dividers/divider-2.svg' | relative_url }}"  alt="graphical divider" data-inject-svg />
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row text-center">
        <div class="col-sm-4 mb-3 mb-sm-0" data-aos="fade-right" data-aos-delay="100"> 
          <div class="mb-2 icon-round icon-round-sm bg-primary d-inline-flex">
            <span class="h4 m-0 mdi iconify text-primary" data-icon="mdi-map-marker"></span>
          </div>
          <h3 class="h2">Indirizzo</h3>
          <span class="lead">
            {{site.address}}<br>
            {{site.city}}
          </span>
        </div>
        <div class="col-sm-4 mb-3 mb-sm-0" data-aos="fade-up" data-aos-delay="100">
          <div class="mb-2 icon-round icon-round-sm bg-primary d-inline-flex">
            <span class="h4 m-0 mdi iconify text-primary" data-icon="mdi-email"></span>
          </div>
          <h3 class="h2">Email</h3>
          <a href="mailto:{{site.email | encode_email}}" class="lead">{{site.email}}</a>
        </div>
        <div class="col-sm-4 mb-3 mb-sm-0" data-aos="fade-left" data-aos-delay="100">
          <div class="mb-2 icon-round icon-round-sm bg-primary d-inline-flex">
            <span class="h4 m-0 mdi iconify text-primary" data-icon="mdi-bird"></span>
          </div>
          <h3 class="h2">Email dei Pappagalli</h3>
          <a href="mailto:{{site.email_1 | encode_email}}" class="lead">{{site.email_1}}</a><br>
          <a href="mailto:{{site.email_2 | encode_email}}" class="lead text-primary-2">{{site.email_2}}</a>
        </div>
      </div>
    </div>
  </section>
  <section class="p-0" data-aos="fade-up" data-aos-delay="100">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="min-vh-50 w-100 rounded shadow-3d" id="mapid">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="text-center mb-4">
            <h2 class="h1">Lasciaci un messaggio!</h2>
            <p class="lead">Non essere timido, i pappagalli sono sempre disponibili con gli estranei. </p>
            <p class="small text-muted"><i>Il messaggio verrà inviato attraverso un pappagallo viaggiatore, non si rimborsano eventuali messaggi persi per strada </i></p>
            </p>
          </div>
          <form action="https://send.pageclip.co/HyK0A8mzWVrDfTMxLFR0XudFA9FQHaCE/Contatti" class="pageclip-form" id="pageclip-form" method="post">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Nome Cognome *</label>
                  <input name="nome" type="text" placeholder="Parrot Jones" class="form-control" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Indirizzo Email *</label>
                  <input name="email" type="email" placeholder="pjones@mail.come" class="form-control" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Nome Azienda</label>
                  <input name="azienda" type="text" placeholder="Acme Corporation" class="form-control">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Telefono</label>
                  <input name="telefono" type="tel" placeholder="505-842-5662" class="form-control">
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label>Messaggio:</label>
                  <textarea class="form-control" name="contact-message" rows="10" placeholder="Cosa vuoi scriverci?"></textarea>
                </div>
              </div>
              <div class="col-12">
                <div data-recaptcha data-sitekey="6Lf_baQaAAAAALU1DsTY2rz88lH_xRAIjPLnc_eQ"></div>
              </div>
              <div class="col text-center">
                <button type="submit" class="btn btn-primary text-light btn-loading pageclip-form__submit" >
                  <span>Invia il Messaggio</span><span class="ml-1 mdi iconify" data-icon="mdi-send"></span>
                </button>
              </div>
            </div>
          </form>
          <div class="row justify-content-center mt-6">
            <div class="col-md-8">
              <div class="text-center mb-4">
                <h2 class="h1">Supportaci!</h2>
                <p class="lead">Noi lavoriamo sodo e ci divertiamo sodo</p>
              </div>
              <div class="row text-center justify-content-center">
                <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Supportaci su Ko-fi', '{{site.colors[1].primary-2}}', 'S6S46WOAS');kofiwidget2.draw();</script> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script defer type="text/javascript" src="{{ '/assets/js/leaflet.min.js' | relative_url }}"></script>