---
layout: default
---

<section class="bg-primary text-light o-hidden has-divider jarallax" data-jarallax data-speed="0.5" >
  <img src="{{ '/assets/img/sfondo.jpg' | relative_url }}" alt="" class="jarallax-img opacity-50">
    <div class="container">
      <div class="row align-items-center min-vh-50">
        <div class="col-lg-6 text-center text-lg-left mb-4 mb-lg-0">
          <h1 class="display-3">Push to greater heights.</h1>
          <div class="my-2">
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
          <a href="#" class="btn btn-lg btn-primary-2">Start a trial</a>
        </div>
        <div class="col-lg-6 text-center" data-aos="fade-left">
          <img src="{{ '/assets/img/saas-sketch-1.svg' | relative_url }}" alt="Image" class="min-vw-60">
        </div>
      </div>
    </div>
    <div class="divider">
      <img src="{{ '/assets/img/dividers/divider-2.svg' | relative_url }}" alt="graphical divider" data-inject-svg />
    </div>
 </section>

  <section>
    <div class="container" data-aos="fade-up">
      <div class="row align-items-center justify-content-around">
        <div class="col-md-5 col-xl-6 mb-4 mb-md-0">
          <img src="{{ '/assets/img/inner-2.jpg' | relative_url }}" alt="Image" class="rounded shadow-3d layer-2">
          <div class="decoration bottom left" data-aos="fade-up">
            <img class="bg-primary" src="{{ '/assets/img/decorations/deco-blob-10.svg' | relative_url }}" alt="deco-blob-10 decoration" data-inject-svg />
          </div>
          <div class="decoration bottom left" data-aos="fade-right">
            <img class="bg-primary-2" src="{{ '/assets/img/decorations/deco-lines-4.svg' | relative_url }}" alt="deco-lines-4 decoration" data-inject-svg />
          </div>
        </div>
        <div class="col-md-7 col-xl-6">
          <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-10">
              <span class="badge badge-primary">Our Mission</span>
              <div class="my-3">
                <span class="h1">Change the game through design.</span>
              </div>
              <p class="lead">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati.</p>
              <p class="lead mb-0">Cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row mb-4">
        <div class="col">
          <h2 class="h1">Multiple layouts for your SaaS</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
          <div class="card card-body hover-shadow-3d">
            <div class="icon-round mb-3 mb-md-4 bg-primary">
              <img class="icon bg-primary" src="assets/img/icons/theme/communication/chat-check.svg" alt="icon" data-inject-svg />
            </div>
            <h4>Communication</h4>
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
            </p>
            <a href="#">Learn More</a>
          </div>
        </div>
        <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
          <div class="card card-body hover-shadow-3d">
            <div class="icon-round mb-3 mb-md-4 bg-primary">
              <img class="icon bg-primary" src="assets/img/icons/theme/shopping/wallet-3.svg" alt="icon" data-inject-svg />
            </div>
            <h4>Payments</h4>
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
            </p>
            <a href="#">Learn More</a>
          </div>
        </div>
        <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
          <div class="card card-body hover-shadow-3d">
            <div class="icon-round mb-3 mb-md-4 bg-primary">
              <img class="icon bg-primary" src="assets/img/icons/theme/food/sushi.svg" alt="icon" data-inject-svg />
            </div>
            <h4>Sushi</h4>
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
            </p>
            <a href="#">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-primary-alt has-divider">
    <div class="divider flip-y">
      <img src="{{ '/assets/img/dividers/divider-3.svg' | relative_url }}" alt="graphical divider" data-inject-svg />
    </div>
    <div class="container">
      <div class="row align-items-center justify-content-around">
        <div class="col-md-6 col-xl-5 mb-3 mb-md-0">
          <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-11">
              <h3 class="display-4">Learn, Share, Immerse.</h3>
              <p class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</p>
              <a href="#" class="lead hover-arrow">View 2018 Highlights</a>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-lg-6 mb-3 mb-md-0">
          <div class="image-collage">
            <a href="assets/img/article-3.jpg" data-fancybox="Collage Gallery" class="d-none d-lg-block">
              <div data-jarallax-element="0 12">
                <img src="{{ '/assets/img/article-3.jpg' | relative_url }}" alt="Image" class="rounded" data-aos="fade-right">
              </div>
            </a>
            <a href="{{ '/assets/img/inner-3.jpg' | relative_url }}" data-fancybox="Collage Gallery">
              <div>
                <img src="{{ '/assets/img/inner-3.jpg' | relative_url }}" alt="Image" class="rounded" data-aos="fade-up">
              </div>
            </a>
            <a href="{{ '/assets/img/inner-4.jpg' | relative_url }}" data-fancybox="Collage Gallery" class="d-none d-lg-block">
              <div data-jarallax-element="0 -12">
                <img src="{{ '/assets/img/inner-4.jpg' | relative_url }}" alt="Image" class="rounded" data-aos="fade-left">
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="divider bg-primary-alt">
      <img class="bg-primary-dark" src="{{ '/assets/img/dividers/divider-1.svg' | relative_url }}" alt="divider graphic" data-inject-svg />
    </div>
  </section>
