---
layout: default
---
<div id="particles-js"></div>
  <section class="has-divider text-light jarallax bg-dark text-md-left text-center" data-jarallax data-speed="0.5" data-overlay data-img-position="30% 60%">
    <img src="{{ '/assets/img/sfondo_macaw_christmas.webp' | relative_url }}" alt="Macaw" class="jarallax-img opacity-50" >
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-md-8">
                <h1 class="display-4">ParoNatale 2023</h1>
                <p class="lead mb-0">"Ho vinto quarche cccosa?"</p>
            </div>
        </div>
    </div>
    <div class="divider">
        <img src="{{ '/assets/img/dividers/divider-2.svg' | relative_url }}"  alt="graphical divider" data-inject-svg />
    </div>
  </section>

  <section id="paronatale2023" class="has-divider layer-3" >
    <div class="container">
      <div class="row align-items-center text-center justify-content-center" id="box2023" >
        <div class="col-md-12 layer-3">
          <style>{% include present/present.min.css %}</style>
          {% include present/present.html %}
        </div>
      </div>

      <div id="ricetta2023">
        <div class="row align-items-center justify-content-around">
          <div class="col-md-12 text-center mb-6 layer-3" >
            <h1 class="display-4">Ecco il tuo premio! <br>Una bellissima ricetta della Nonna Pappagallo!</h1>
          </div>
          <div class="col-md-6 mb-4 mb-md-0" >
              <div class="col-md-12 layer-3">
                <span class="badge bg-ancora text-white">AKA Crostini di fegatini </span>
                <p class="h1 my-3">Il Crostino Nero (quello vero)</p>
                <p class="lead">Ingredienti per 6 persone:
                  <ul>
                    <li>Fegatini di pollo: gr 350</li>
                    <li>Mezza cipolla bianca</li>
                    <li>Un cucchiaio di capperi</li>
                    <li>3 filetti di acciuga</li>
                    <li>Un nonnulla di Burro</li>
                    <li>Vino bianco</li>
                    <li>Brodo</li>
                    <li>Pane toscano o casalingo</li>
                    <li>Olio d'oliva (quello bono con il pizzicorino)</li>
                    <li>Sale e pepe</li>
                  </ul>
                  </p>
              </div>
          </div>
          <div class="col-md-6 mt-md-0 mb-md-0">
            <a title="Know how Gallery" href="{{ '/assets/img/cosimo-niccolo-piccoli.webp' | relative_url }}" data-fancybox="Collage Gallery" class="layer-3">
              <img src="{{ '/assets/img/cosimo-niccolo-piccoli.webp' | relative_url }}" alt="cosimo-niccolo-piccoli" class="rounded shadow-3d hover-shadow-3d layer-3">
              <figcaption class="figure-caption">Certificati ISO 22000 dal 1993 per il Controllo Qualità di cibi ed alimenti molto gustevoli</figcaption>
            </a>
            <div class="decorations-wrapper layer-1">
              <div class="decoration middle-x bottom mb-6 opacity-80 scale-3">
                <img class="bg-primary" src="{{ '/assets/img/decorations/deco-dots-1.svg' | relative_url }}" alt="deco-dots-1 decoration" data-inject-svg />
              </div>
              <div class="decoration right bottom scale-3 opacity-80 rotate-90" >
                <img class="bg-primary-2" src="assets/img/decorations/deco-dots-1.svg" alt="deco-dots-1 decoration" data-inject-svg />
              </div>
            </div>
          </div>
        </div>
        <div class="row align-items-center justify-content-center" >
          <div class="col-xl-12 layer-3">
            <p class="h1 mt-6 mb-3">Procedimento</p>
              <p class="lead">Tritate finemente la cipolla e fatela imbiondire in 2 cucchiai d'olio e 2 cucchiai di burro. <br>
              Unite quindi i fegatini tagliati grossolanamente. <br>
              Cuocete bagnando ogni tanto con il vino bianco. <br>
              Dopo circa mezz'oretta tritate il tutto sul tagliere e rimettelo nella pentola. <br>
              Aggiungete i capperi tritati e i filetti di acciuga. Cuocete ancora unendo un po' di brodo. <br>
              Infine aggiustate con sale e pepe. La consistenza deve essere quella di un ragù. <br>
              Tagliate il pane a fette spesse 1/2 cm e abbrustulitele su una padella o sul fuoco finchè non diventano croccanti. <br>
              Bagnate quindi velocemente le fette di pane nel brodo. Mi raccomando, solo da un lato! <br>
              Infine spalmate l'impasto sulle fette di pane. <br><br>
              Congratulazioni! Avete reso fiere Mamma Serena e Nonna Bruna 
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="divider">
      <img src="{{ '/assets/img/dividers/divider-3.svg' | relative_url }}" alt="graphical divider" data-inject-svg class="bg-primary-alt" />
    </div>
  </section>

  <section class="bg-primary-alt">
    <div class="container">
      <div class="row justify-content-center mb-8">
        <div class="col-md-12 layer-3" >
          <div class="text-center">
            <p class="h1">Buon Natale da ParoParo!</p>
            <p class="lead">"Tieni Natale, comprati qualcosa"</p>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <img src="{{ '/assets/img/parrots_christmas.webp' | relative_url }}" alt="Brothers" class="layer-3" width="500px">
            <div class="decorations-wrapper d-lg-block">
                <div class="decoration mt-6 top middle-x opacity-20 scale-2">
                  <img class="bg-primary" src="{{ '/assets/img/decorations/deco-blob-2.svg' | relative_url }}" alt="deco-blob-2 decoration" data-inject-svg />
              </div>
              <div class="decoration opacity-80 scale-3 mt-n6 ml-2">
                    <img class="bg-primary-2" src="{{ '/assets/img/decorations/deco-dots-3.svg' | relative_url }}" alt="deco-dots-3 decoration" data-inject-svg />
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>
</section>

  <script defer type="text/javascript" src="{{ '/assets/js/particles.min.js' | relative_url }}"></script>
