.text-light {
    a:not(.btn),h1,h2,h3,h4,h5,h6,span,p,.h1,.h2,.h3,.h4,.h5,.h6,.display-1, .display-2, .display-3, .display-4, .nav-link{
      color: $gray-800 !important;
    }
    .text-muted{
      color: $gray-500 !important;
    }
}

.navbar-dark {
    a,.nav-link{
        color: $gray-800 !important;
      }
}

.btn {
    color: $gray-800 !important;
    &:hover {
        color: $gray-500 !important;
    }
}

section.bg-primary {
    background: $primary-night !important;
}

#mapid {
  .leaflet-tile.leaflet-tile-loaded {
    -webkit-filter: invert(90%);
    -moz-filter: invert(90%);
    -ms-filter: invert(90%);
    -o-filter: invert(90%);
    filter: invert(90%);
  }
}
