section.bg-primary {
    background: $primary !important;
}
code.hljs {
    @extend .bg-primary-alt, .rounded, .p-2, .mb-2;
}

blockquote {
    > p {
        @extend .h5,.m-0;
    }
    @extend .bg-primary-alt;
}

div.highlight, pre.highlight {
    @extend .bg-primary-alt;
}

article {
    ol {
      > li{
        &:not(:last-child){
            @extend .mb-2;
        }
      }
    }
    table {
        @extend .table;
    }
    a {
        > img {
            @extend .rounded, .mx-auto, .d-block, .shadow-3d;
        }
    }
}

.parrots-leaves{
    display: flex;
    justify-content: right;
    right: -1rem;

    .leaves {
        position: absolute;
        transition: transform 0.2s linear;
        bottom: 0;
        pointer-events: none;
    }

    &:hover {
        .leaves {
            opacity: 0.75;
        }
        #leaves_1 {
            transform: translateY(50%);
        }
        #leaves_2 {
            transform: rotateZ(-15deg) translateY(40%);
        }
        #leaves_3 {
            transform: rotateZ(15deg) translateY(40%);
        }
    }
  }

 @keyframes octocat-wave {
	0%, 100% {
		transform: rotate(0);
	}
	20%, 60% {
		transform: rotate(-25deg);
	}
    40%, 80% {
		transform: rotate(10deg);
	}
}

.github-corner {
    position: absolute;
    bottom: 0;

    svg {
        fill: $primary;
        color: $white;
        transform: scale(-1, -1);   
    }

    &:hover .octo-arm {
        animation: octocat-wave 560ms ease-in-out;

        @media (max-width:500px) {
            animation: none;
        }
    }

	.octo-arm {
        @media (max-width:500px) {
		    animation: octocat-wave 560ms ease-in-out;
        }
	}
}

#mapid {
    .leaflet-popup-content-wrapper, .leaflet-popup-tip {
        background: $white;
        color: $gray-900;
        box-shadow: 0 3px 14px rgba($white,.4);
    }
    .leaflet-tile.leaflet-tile-loaded {
        -webkit-filter: invert(0);
        -moz-filter: invert(0);
        -ms-filter: invert(0);
        -o-filter: invert(0);
        filter: invert(0);
    }
    a {
        @extend .text-primary;
    }
    .leaflet-bar a {
        background-color: $white;
        color: $primary;
        border-bottom: 1px solid $gray-200;
        &:hover {
            background-color: $gray-200;
        }
    }
    .leaflet-control-attribution.leaflet-control {
        background: rgba($white,.8);
        color: $gray-900;
    }
}

#css-toggle.custom-switch .custom-control-label {
    &:before {
        background-color: transparent;
        border-color:  $navbar-dark-color;
    }
    &:after {
        display: inline-block;
        background-color: $navbar-dark-color;
        border-color: $navbar-dark-color;
        text-align: center;
        content: url('https://api.iconify.design/mdi/white-balance-sunny.svg?width=12&color=#{encodecolor($warning)}');
        font-size: 0.75rem;
        line-height: 1rem;
    }
}

.fancybox-image {
    @extend .card-img;
}