// 
// 
// user-variables-dark.scss
//
// Place your own variable overrides here, these will override any Bootstrap and theme variables.

// Do not change or remove the $theme-color-scheme or $theme-colors maps below

$black:    #fff ;
$gray-900: #f8f9fa ;
$gray-800: #e9ecef ;
$gray-700: #dee2e6 ;
$gray-600: #ced4da ;
$gray-500: #adb5bd ;
$gray-400: #6c757d ;
$gray-300: #495057 ;
$gray-200: #343a40 ;
$gray-100: #212529 ;
$white:    #0d1716 ;

$grays: () ;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$blue:    #007bff ;
$indigo:  #6610f2 ;
$purple:  #6f42c1 ;
$pink:    #e83e8c ;
$red:     #dc3545 ;
$orange:  #fd7e14 ;
$yellow:  #ffc107 ;
$green:   #28a745 ;
$teal:    #20c997 ;
$cyan:    #17a2b8 ;

$colors: () ;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
  ),
  $colors
);

$secondary:     $gray-600 ;
$success:       $green ;
$info:          $cyan ;
$warning:       $yellow ;
$danger:        $red ;
$light:         $gray-100 ;
$dark:          $primary-night ;

$theme-colors: () ;
$theme-colors: map-merge(
  (
    "primary":        $primary,
    "primary-2":      $primary-2,
    "primary-3":      $primary-3,
    "primary-4":      $primary-4,
    "primary-dark":   $primary-night,
    "primary-2-dark": $primary-2,
    "primary-night":  $primary-night,
    "secondary":      $secondary,
    "success":        $success,
    "info":           $info,
    "warning":        $warning,
    "danger":         $danger,
    "light":          $light,
    "dark":           $dark
  ),
  $theme-colors
);

$theme-color-scheme: (
    "primary":        $primary,
    "primary-2":      $primary-2,
    "primary-3":      $primary-3,
    "primary-4":      $primary-4,
    "primary-dark":   $primary-night,
    "primary-2-dark": $primary-2,
    "primary-night":  $primary-night,
);